sudo pip install django
sudo pip install django-tastypie
sudo pip install django-cities
sudo pip install psycopg2
sudo apt-get install binutils libproj-dev gdal-bin


wget http://download.osgeo.org/geos/geos-3.4.2.tar.bz2
tar xjf geos-3.4.2.tar.bz2
cd geos-3.4.2
./configure
make
sudo make install
cd ..


wget http://download.osgeo.org/proj/proj-4.9.1.tar.gz
wget http://download.osgeo.org/proj/proj-datumgrid-1.5.tar.gz
tar xzf proj-4.9.1.tar.gz
cd proj-4.9.1/nad
tar xzf ../../proj-datumgrid-1.5.tar.gz
cd ..
./configure
make
sudo make install
cd ..




apt-get install postgis*

#		or

#		wget http://download.osgeo.org/postgis/source/postgis-2.1.5.tar.gz
#		tar xzf postgis-2.1.5.tar.gz
#		cd postgis-2.1.5
#		./configure
#		make
#		sudo make install
#		cd ..




sudo su - postgres
cdeatedb djgeo
psql -d djgeo -c "CREATE EXTENSION postgis;"
psql -d djgeo -c "CREATE EXTENSION postgis_topology;"
psql -d djgeo -c "CREATE EXTENSION fuzzystrmatch;"
psql -d djgeo -c "CREATE EXTENSION postgis_tiger_geocoder;"
psql
CREATE USER asholok PASSWORD 'asholok';
GRANT ALL PRIVILEGES ON DATABASE djgeo TO asholok;
\q

#
#		or 
#		createdb -T template_postgis djgeo
#		
#
#		python manage.py cities --force --import=all


#		if you using django 1.8 may emerged exception 'module' object has no attribute 'commit_on_success'.
#		to fix this need to run:
#		pip install -e git+https://github.com/django-tastypie/django-tastypie#egg=TastyPie



#		if tests throw 'Got an error creating the test database: permission denied to copy database "template_postgis"'
#		run:
#			sudo su - postgres
#			psql
#			update pg_database set datistemplate=true where datname='template_postgis';

