{% extends "base.html" %}

{% block script %}
    <script type="text/javascript">
        function getCity() {
            var postal_code = $('#zip').val();
            var country_name = $('#country').val();

            $.ajax({
                type: 'POST',
                url: '/api/zip_table/',
                data: JSON.stringify({
                    zip_code: postal_code, 
                    country: country_name
                }),
                success: showData(),
                dataType: "application/json",
                processData:  false,
                contentType: "application/json"
            });
        }

        function showData(data){ 
            console.log(data);
        }
    </script>
{% endblock %}
{% block content %}
    <form method="POST" action="#" onsubmit="getCity()">
        {% csrf_token %}
        <label for="country">country  </label>
        <input type="text" id="country" value="">
        <br> <br>
        <label for="zip">zip code  </label>
        <input type="text" id="zip" value="">
        <br> <br>
        <!-- <input type="submit" value="go"> -->
    </form>
    <button onclick="getCity()">Click me</button>
{% endblock %}
