<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript">
        function getCity() {
            var postal_code = $('#zip').val();
            var country_name = $('#country').val();

            $.ajax({
                type: 'POST',
                url: '/api/zip_table/',
                data: JSON.stringify({
                    zip_code: postal_code, 
                    country: country_name
                }),
                success: showData(),
                dataType: "application/json",
                processData:  false,
                contentType: "application/json"
            });
        }

        function showData(data){ 
            console.log(data);
        }

        function getData() {
            $.ajax({
                type: 'POST',
                url: '/api/zip_table/',
                data: JSON.stringify({zip_code: '01279', country: 'Germany'}),
                success: showData(),
                dataType: "application/json",
                processData:  false,
                contentType: "application/json"
            });
        }
        getData();
    </script>
</head>
<body>
    <form method="POST" action="#" onsubmit="getCity()">
        {% csrf_token %}
        <label for="country">country  </label>
        <input type="text" id="country" value="">
        <br> <br>
        <label for="zip">zip code  </label>
        <input type="text" id="zip" value="">
        <br> <br>
        <input type="submit" value="go">
    </form>
</body>
</html>